h1 {
	text-align: center;
}

h2 {
    margin-left: 15%;
}

#price{
	font-weight: bold;
}

#preview{
	max-width: 300px;
	max-height: 300px;
	clear:both;
}

.container-fluid{
	background-color: rgb(46, 24, 24);
	color: white;
}

.price{
	font-weight: bold;
}

.quantité{
	max-width: 50px;
}
#submit{
	text-align: center;
}

#total{
	font-weight: bold;
	text-align: center;
	font-size: xx-large;
}

label{
	display: block;
	width: 300px;
	margin-top: 50px;
}

select{
	max-height: 30px;
}

input{
	max-height: 30px;
	margin-top: 50px;
}

.panier{
	background-color: azure;
}
