<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Informations</title>
        <link rel="stylesheet" href="../css/Main.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <link rel="icon" href="images/icon.jpg" type="image/x-icon">
        <script src="../js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <script src="../js/livraison.js"></script>
    </head>
    <body id="body">
            <form action="/connexion" method="POST">
                <label for="name"> Nom du livreur</label>
                <input type="text" name="name">

                <button type="submit">Se connecter</button>

            </form>
    </body>
</html>