<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Informations</title>
        <link rel="stylesheet" href="../css/connexion.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <link rel="icon" href="images/icon.jpg" type="image/x-icon">
        <script src="../js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <script src="../js/livraison.js"></script>
    </head>
    <body id="body" style="background-color:#6ab700;">
            <div id="container">                
                <form action="/connexion" method="POST">
                    <h1>Connexion</h1>
                    <label><b>Nom du livreur</b></label>
                    <input type="text" placeholder="Entrer le nom du livreur" name="name" required>    
                    <input type="submit" value='LOGIN'>
                </form>
            </div>
    </body>
</html>