<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Informations</title>
        <link rel="stylesheet" href="../css/connexion.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <link rel="icon" href="images/icon.jpg" type="image/x-icon">
        <script src="../js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <script src="../js/livraison.js"></script>
    </head>
    <body id="body" style="background-color:#6ab700;">
            <div id="container">      
                <form>          
                    <h1> ERROR 404</h1>
                    <p>Vous vous êtes égarés dans le merveilleux monde de la gastronomie de <b>Uber Ratus</b>.</p>
                    <a href="http://localhost:8080/">Pas d'inquiétude, c'est ici pour retourner à l'accueil</a>
                </form>
            </div>
    </body>
</html>