<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Informations</title>
        <link rel="stylesheet" href="../css/connexion.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <link rel="icon" href="images/icon.jpg" type="image/x-icon">
        <script src="../js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <script src="../js/Fonction.js"></script>
    </head>
    <body id="body" style="background-color:#6ab700;">
        <div class="container">
            <form action="/merci" method="post">
                <h1> Vos infos </h1>
                    <label><b>Prénom</b></label>
                    <input type="text" name="prenom"  required>
                    <label><b>Nom</b></label>
                    <input type="text" name="nom"  required>
                    <label><b>Code Postal</b></label>
                    <input type="text" name="postal"  required>
                    <label><b>Ville</b></label>
                    <input type="text" name="ville"  required>
                    <label><b>Adresse</b></label>
                    <input type="text" name="adresse" id="adresse" required>
                    <input type="submit" value="Confirmer la commande">
            </form>
        </div>

    </body>
</html>