<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Informations</title>
        <link rel="stylesheet" href="../css/connexion.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <script src="../js/livraison.js"></script>
    </head>
    <body id="body">
        <div id="container">
            <!-- zone de connexion -->
            <form action="verification.php" method="POST">
                <h1>Connexion</h1>
                
                <label><b>Nom d'utilisateur</b></label>
                <input type="text" placeholder="Entrer votre nom d'utilisateur" name="username" required>

                <label><b>Nom</b></label>
                <input type="text" placeholder="Entrer votre nom" name="nom" required>

                <label><b>Prénom</b></label>
                <input type="text" placeholder="Entrer votre prénom" name="prenom" required>

                <label><b>Adresse</b></label>
                <input type="text" placeholder="Entrer votre adresse" name="adresse" required>

                <label><b>Ville</b></label>
                <input type="text" placeholder="Entrer votre ville" name="ville" required>

                <label><b>Mot de passe</b></label>
                <input type="password" placeholder="Entrer le mot de passe" name="password" required>

                <p> Vous avez déjà un compte ?</p>
                <a href="http://localhost:8080/connexion">Se connecter</a>
                <input type="submit" id='submit' value='LOGIN' >
            </form>
        </div>
    </body>
</html>